
.slide{
    width: 60%;
    margin: 0 auto;
    position: relative;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.a{
    text-decoration: none;
}
.head{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    /* position: fixed; */
    left: 0;
    right: 0;
    top: 0;
}
.head img{
    width: 110px;
    height: 32px;
    padding-top: 7px;
}
.con{
    padding-bottom: 5px;
}
.con a{
    color: #a8a8a8;
    font-weight: 200px;
    font-size: 14px;
    margin: 0 52px;
}
.aa{
    background-color:wheat;
    height: 1200px;
    top: 0px;
}
.iconfont-shipin{
    color: crimson;
    width: 20px;
    height: 20px;
}
.txt1{
    margin-left :130px;
    width: 1010px;
    text-align: center;
    text-indent: 4em;
    color:rgb(100,100,100)
}
body{
    /* 视口 */
    perspective: 1000px;
}
/* 关键帧动画 可一直执行 */
@keyframes gjzhen{
    0%{
        transform: rotateX(-10deg) rotateY(0deg);
    }
    50%{
        transform: rotateX(10deg) rotateY(180deg);
    }
    100%{
        transform: rotateX(-10deg) rotateY(360deg);
    }
}
.wrap{
    width: 100px;
    height: 100px;
    /* margin: 150px auto; */
    margin-top: 60px;
    margin-left: 615px;
    position: relative;
    /* 添加3d效果，使li标签具有3d效果 */
    transform-style: preserve-3d;
    /* 翻转整个容器 */
    transform: rotateX(-10deg);
    /* 添加关键帧动画 */
    animation: gjzhen 7s infinite linear;
}
.wrap li{
    width: 133px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid red; */
    border-radius: 10%;
}
.wrap li>img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    vertical-align: top;
    -webkit-box-reflect: below 10px linear-gradient(to top, red , transparent 50%);
}
.wrap li:nth-child(1){
    transform: translateZ(300px);
}
.wrap li:nth-child(2){
    transform: rotateY(-60deg) translateZ(300px);
}
.wrap li:nth-child(3){
    transform: rotateY(-120deg) translateZ(300px);
}
.wrap li:nth-child(4){
    transform: rotateY(-180deg) translateZ(300px);
}
.wrap li:nth-child(5){
    transform: rotateY(-240deg) translateZ(300px);
}
.wrap li:nth-child(6){
    transform: rotateY(-300deg) translateZ(300px);
}
.wrap li:nth-child(7){
    transform: rotateY(-360deg) translateZ(300px);
}
.border{
    width: 1510px;
    margin: 30px auto;
    border: 1px solid rgb(100,100,100);
    position: relative;
    left: -100px;
}
.models{
    position: absolute;
    width: 1000px;
    left: 350px;
    top: 1210px;
}
.model{
    display:block;
    width: 240px;
    text-align: center;
    float: left;
    margin: 20px;
}
.img{
    position: relative;
}
.img .mark{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0,0, 0.6);
    color: antiquewhite;
    font-size: 14px;
    opacity: 0;
    margin-top: 20px;
    transition: all 0.5s;
}
.model img{
    width: 100%;
}
.img h2{
    font-size: 30px;
    margin-top: 30px;
}
.model .txt{
    padding: 7px 0;
    background-color: rgba(255,0,0,0.6);
    color: #aaa;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 2px rgba(0, 0,0 , 0.6);
}
.img img, .img .mark{
    border-radius: 10px 10px 0 0;
    box-shadow: 1px 1px 2px rgba(0, 0,0 , 0.6);
}
/* 悬浮状态 */
.model:hover .mark{
    opacity: 1;
}
.tb{
    width:1010px;
    margin: 0 auto;
    margin-left: 200px;
    margin-top: 240px;
}
.tb img{
    width:50px;
    margin-top: 1000;
    font-size: 0px;
    margin: 20px;
}
.aaa{
    position:absolute;
    top:550px;
    left:100px;
}
.wb1{
    width:48%;
    float: left;
    margin-bottom: 15px;
    padding: 0 7px;
    margin-top: -22px;
    border-left:1px solid #666;
}
.wb{
    position: relative;
    width: 100%;
    background-color:#666;
    top:1040px;
}
.wb .imgs{
    width: 50%;
    padding: 0 7px;
    margin-top:10px;
    float: left;
}
.wb .imgs img{
    width: 40px;
    float: right;
}
.wb1 img{
    width: 65px;
    height: 35px;
}
.wb1 p{
    display: block;
    font-size: 14px;
    color: #666;
    text-shadow: 1px 1px 1px white;
    margin-bottom: 5px;
}
.hh{
    position: relative;
    height: 300px;
    width: 100%;
    background-color: rgba(200, 200, 200, 0.6);
    top:1010px;
}
.video{
    border-radius: 10%;
    /* text-align: center; */
    width: 360px;
    height: 200px;
    margin-left: 246px;
}